.body-color {
  background: var(--Grey-2, rgba(215, 217, 221, 0.5));
}
.swiper-pagination-bullet-active {
  background: #494336 !important;
}
.swiper-pagination.second .swiper-pagination-bullet-active {
  background: var(
    --Gradient-02,
    linear-gradient(90deg, #ffa280 0%, #8fd9d9 100%)
  ) !important;
}

.second .swiper-pagination-bullet {
  background: #494336 !important;
  opacity: 1;
}
@media (max-width: 500px) {
  .second .swiper-pagination-bullet {
    background: #d7d9dd !important;
    opacity: 1;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.active {
  background: var(
    --Gradient-02,
    linear-gradient(90deg, #ffa280 0%, #8fd9d9 100%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
